
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
    color: #4F4F4F;
    text-align: center;

}
.header {
    background-color:  #4F4F4F;
    padding: 10px;
    text-align: center;
}
.header h1 {
    font-size: 3em;
    color: #000000d6;
}
.header h2 {
    font-size: 1.2em;
    font-weight: lighter;
    color: #000000;
}
.header h3 {
    font-size: 0.89em;
    font-weight: lighter;
    color: #2a8aff;
}
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para novas linhas em telas menores */
    gap: 10px;
    max-width: 100%; /* Faz o container se ajustar à tela */
    padding: 10px;
    justify-content: center; /* Centraliza os elementos */
    background-color: #4F4F4F;
}

.iframe1 {
    width: 100%;
    max-width: 600px; /* Evita que ultrapasse o tamanho ideal */
    height: auto;
    aspect-ratio: 16 / 9; /* Mantém a proporção do vídeo */
    border: none;
}

.footer {
    background-color: #2C3E50;
    padding: 20px;
    width: 100%;
    bottom: 0;
    font-size: 0.5em;
    color: white;
    text-align: center;
}
footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .social-icon img:hover {
    transform: scale(1.2);
  }

  h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}
